@media (max-width: 767.98px) {
    .container {
        width: 98%;
    }
    .header-menu .logo {
        width: 100%;
        float: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .header-area .main-menu ul {
        float: none;
        text-align: center;
    }
    .header-area .main-menu ul li {
        float: none;
        display: inline;
    }
    .header-area .main-menu ul li a {
        display: inline-block;
    }
    .team-area .team-item img {
        width: 5%;
        margin: auto;
    }
    .team-area .team-item .social {
        margin: 0;
        padding: 0;
    }
}
